<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Basic InMemory FTP server</title>
  <style>
    table, th, td { border: 2px; }
    th, td { padding: 5px; }
    th { text-align: left; }
    caption { text-align: left; }
  </style>
</head>

<body>
  <div>
    <h2>FTP server content</h2>
  </div>
  <div>
    <a th:href="${urlPrefix} + '/latestFile'">Latest uploaded file</a>
    <a th:href="${urlPrefix} + '/latestFile?content'">(content)</a>
  </div>
  <div>
    <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Size</th>
      <th>Full Path</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="f : ${files}">
      <td th:switch="${f.file}">
        <a th:case="${true}" th:text="${f.name}" th:href="${urlPrefix} + '/files' + ${f.absolutePath} + '?content'">Show content</a>
        <a th:case="${false}" th:text="${f.name}" th:href="${urlPrefix} + '/files' + ${f.absolutePath}">List Directory</a>
      </td>
      <!--<td th:text="${#dates.format(f.lastModifiedDate, 'HH:mm:ss, EEE, MMM d, ''yy')}">.</td>-->
      <td th:text="${#dates.format(f.lastModifiedDate, 'HH:mm:ss, EEE, MMM d, yy')}">.</td>
      <!--<td th:text="${#numbers.formatInteger(f.size,3,'POINT')}">Size</td>-->
      <td th:text="${@sizeFormatter.format(f.size)}">Size</td>
      <td th:text="${f.absolutePath}">Path</td>
    </tr>
    </tbody>
    </table>
  </div>
</body>

</html>